﻿.carousel {
	width: 765px;
	position: relative;
	background-color: #fcfcfc;
	border: 1px solid #aca7a1;
	margin: 0 0 5px 5px;
}

.block-carousel {
	padding: 12px 0 10px;
	text-align: left;
	width: 100%;
}

.carousel .carousel-item {
	display: none;
}
.carousel .carousel-active {
	display: block;
}
.carousel .carousel-nav:nth-child(2) {
	display: none;
}

.carousel-nav {
	background-color: #d7d7d7;
	width: 100%;
	height: 12px;
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #c8c8c8;
	margin: 0;
	text-align: center;
}

.carousel-nav a {
	text-indent: -9999px;
	display: inline-block;
	width: 113px;
	height: 12px;
	margin: 0 1px;
	position: relative;
}

.carousel-nav a:before {
	background: url('../../images/triangle-pr.png') no-repeat 0 0;
	content: "";
	width: 113px;
	height: 12px;
	position: absolute;
	top: 0;
	left: 0;
}

.carousel-nav .prev:before {
	background-position: 0 -16px;
}.carousel-nav .prev.disabled:before {
	background-position: 0 0;
}

.carousel-nav .next:before {
	background-position: -115px -16px;
}.carousel-nav .next.disabled:before {
	background-position: -116px 0;
}

