﻿@import url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic&subset=latin,cyrillic);

body {
    background-color: #fcfcfc;
}

body, figure {
    margin: 0;
    padding: 0;
}

.page-razrab {
    border: 1px solid #aca7a1;
    padding: 10px;
    margin: 5px;
    height: 460px;
    text-align: center;
}

.page-razrab h1 {
    font-size: 27px;
    line-height: 31px;
    color: #646262;
    margin: 150px auto 0;
}

.no-page {
    text-align: center;
    padding: 170px 0 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.no-page:before {
    background: url('../images/no/fon-right.png') no-repeat right bottom;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.no-page p {
    margin: 0;
    padding: 0;
}

.no-page .text1 {
    font-size: 17px;
    line-height: 22px;
    color: #484c4f;
    font-family: 'Lora', serif;
    margin-bottom: 5px;
}

.no-page .text2 {
    margin-bottom: 12px;
    font-size: 115px;
    line-height: 115px;
    color: #7b8388;
    font-weight: bold;
    font-family: 'Play', sans-serif;
}

.no-page .text4 {
    margin-bottom: 12px;
    font-size: 31px;
    line-height: 32px;
    color: #7b8388;
    font-weight: bold;
    font-family: 'Play', sans-serif;
}
