﻿/*  block-registration-jur  */

.block-registration-jur {
    background-color: #ffffff;
    padding: 14px 10px 5px;
}

.tm {
    margin: 0 0 15px 30px;
}

.register-statement {
    background-color: #fcfcfc;
    padding: 0 0 7px;
    border: 1px solid #5a4736;
    margin-bottom: 10px;
}

.title-statement {
    font: 14px/16px "Arial", Helvetica,sans-serif;
    color: #56493a;
    background-color: #d4a365;
    padding: 4px 10px;
    margin: 0 0 10px;
    display: inline-block;
}

.register-statement p {
    font: 12px/16px "Arial", Helvetica,sans-serif;
    margin: 0 5px 5px;
}

/*  end block-registration-jur  */

.form-osn, .form-yua,
.form-pocht, .form-facta,
.form-bank-rekv, .form-sved,
.form-punkt-vud, .form-identif,
.form-docum {
    display: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #61523f;
    cursor: pointer;
}

/*  form register jur  */

.form-separator-title {
    background-color: #d4a365;
    text-align: center;
    color: #61513d;
    margin: 20px 0 0;
    padding: 11px 0 0;
    height: 37px;
    position: relative;
    cursor: pointer;
}

.form-separator-title span {
    text-align: center;
    font: 14px/16px "Arial", Helvetica,sans-serif;
    color: #61513d;
    margin: 0;
    padding:0;
    position: relative;
}

.form-separator-title .messages-errors {
    text-align: center;
    font: 12px/13px "Arial", Helvetica,sans-serif;
    color: #cc0000;
    font-style: italic;
    margin: 0;
    padding:0;
    position: absolute;
    width: 100%;
    left: 0;
    top: -13px;
    display: none;
}

.form-separator-title .messages-errors.icon-ok:before {
    background: none;
}

.form-separator-title.disabled:hover {
    cursor: inherit;
}

.form-separator-title.disabled span:hover {
    cursor: context-menu;
}

.form-separator {
    border: 1px solid #c7b8a3;
    border-bottom: 0 none;
    background-color: #fcfcfc;
}

.form-separator input {
    background-color: #f6f3ee;
    border: 1px solid #c3bcb3;
    height: 26px;
    color: #000;
    width: 310px;
}

.rj {
    margin: 20px 0 0;
    padding-bottom: 10px;
}
.rj .control-label {
    width: 305px;
    color: #56493a;
    font: 14px/16px "Arial", Helvetica,sans-serif;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.rj .form-group,
.form-bl-inf {
    padding: 10px 5px;
    margin: 0;
    border-bottom: 1px solid #c3bcb3;
}

.fon-gray {
    padding: 15px 5px;
    margin: 10px 0;
    border: 1px solid #c3bcb3;
    text-align: center;
    background-color: #fcfcfc;
}

.block-file {
    text-align: center;
    margin-top: 20px;
}

.block-file a,
.block-file a:hover,
.block-file a:focus {
    color: #2a26bf;
    font: italic 14px/16px "Arial", Helvetica,sans-serif;
}

.two-lines,
.rj .two-lines,
.form-group.two-lines  {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.two-lines span,
.form-group.two-lines span  {
    font: 11px/12px "Arial", Helvetica,sans-serif;
    color: #56493a;
    display: block;
}

.bl-inf-left {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 306px;
    float: left;
}

.bl-inf-right {
    margin: 0;
    padding: 0;
    width: 295px;
    float: left;
    text-transform: uppercase;
}

.form-separator.fon-gray .btn {
    margin: 0 125px;
    padding: 5px 9px 4px;
}

.matches-jur {
    color: #56493a;
    position: absolute;
    right: 20px;
    bottom: 3px;
    font: 12px/16px "Arial", Helvetica,sans-serif;
}

.form-edit {
    color: #56493a;
    position: absolute;
    left: 20px;
    bottom: 3px;
    font: 12px/16px "Arial", Helvetica,sans-serif;
    display: none;
}

.matches-mail {
    color: #56493a;
    position: absolute;
    right: 20px;
    top: 3px;
    font: 12px/16px "Arial", Helvetica,sans-serif;
}

.block-registration-jur > ul {
    margin: 0;
    text-align: center;
}

.block-registration-jur > ul > li {
    clear: left;
    float: none;
    display: inline-block;
    margin: 5px 25px 15px;
    width: 25%;
}

.block-registration-jur > ul > li > a {
    display: block;
    padding: 7px 10px 2px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    line-height: 16px;
    font-size: 14px;
    border-top: 0 none;
}

.block-registration-jur ul .active a:hover {
    border-bottom: 0 none;
}

.block-registration-jur .tab-content,
.block-registration-jur .nav-tabs {
    border: 0 none;
}

.rj .cs-active .cs-placeholder {
    border: 1px solid #996600;
}

.rj .cs-options span {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.rj .cs-options span:hover {
    background: #f3e8d4; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fdf8e2), to(#f3e8d4)); 
    background: -moz-linear-gradient(top, #fdf8e2, #f3e8d4); 
    background: -ms-linear-gradient(top, #fdf8e2, #f3e8d4); 
    background: -o-linear-gradient(top, #fdf8e2, #f3e8d4); 
    cursor: pointer;
    border-top: 1px solid #efe8cb;
    border-bottom: 1px solid #e7d7bb;
    padding-left: 16px;
}

/*  end form register jur  */

.form-docum .file_upload {
  position: relative;
  overflow: hidden;
  width: 86px;
  border: 1px solid transparent;
  margin-left: 5px;
}
 
.file_upload input[type=file] {
  position: absolute;
  top: 0; right: 0;
  font-size: 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  width: 76px;
}

.form-separator .btn.disabled  {
    opacity: 1;
}

.matches-jur,
.matches-mail {
    display: none;
}

.wh-3 {
    position: relative;
}

.remove-file {
    position: absolute;
    width: 10px;
    height: 10px;
    text-indent: -9999999px;
    overflow: hidden;
    background: url("../images/errors-form.png") no-repeat 0 0;
    left: -8px;
    top: 64%;
    display: none;
}

/*   table   */

table {
    width: 100%;
}

table td {
    padding: 8px 8px 8px 0; 
    border-bottom: 1px solid #c3bcb3;
}

.wh-5 {
    padding-left: 8px;
    padding-right: 82px;
    width: 440px;
}

.wh-3 {
    width: 110px;
}

.wh-2 {
    width: 65px;
}

.form-separator td {
    font: 14px/16px "Arial", Helvetica,sans-serif;
    color: #000;
    vertical-align: middle;
}

.form-separator td span {
    color: #56493a;
    font: 13px/16px "Arial", Helvetica,sans-serif;
}

.form-separator td a,
.form-separator td a:focus {
    font: italic 12px/16px "Arial", Helvetica,sans-serif;
}

.btn-default.text-red,
.btn.text-red {
    color: #bc031d;
    text-decoration: none;
}

.btn-default.text-green,
.btn.text-green {
    color: #026b1b;
    text-decoration: none;
}

.wrapper-btn-tr .btn-default.text-green,
.wrapper-btn-tr .btn.text-green {
    color: #054f16;
    text-decoration: none;
}

.btn-default.text-green-dark,
.btn.text-green-dark {
    color: #026b1b;
    text-decoration: none;
}

/*   end table   */

.form-separator .btn.disabled:hover {
    border-top: 1px solid #c29b6b;
    border-right: 1px solid #c9a16f;
    border-left: 1px solid #c9a16f;
    border-bottom: 1px solid #d6ac77;
    background: #aa8753; 
    background: -webkit-gradient(linear, left top, left bottom, from(#e8d7bf), to(#aa8753)); 
    background: -moz-linear-gradient(top, #e8d7bf, #aa8753); 
    background: -ms-linear-gradient(top, #e8d7bf, #aa8753); 
    background: -o-linear-gradient(top, #e8d7bf, #aa8753);  
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;      
    cursor: not-allowed;
}

.form-separator .bt-apply.disabled:hover {
    color: #026b1b;
}

.form-separator .btn-later.disabled:hover {
    color: #bc031d;
}


.form-separator .form-group .btn-list,
.form-separator .form-group .btn-list:hover,
.form-separator .form-group .btn-list:focus {
    height: 26px;
    background: url('../images/select-filter.png') no-repeat 0 0;
    background-size: 100% 100%;
    width: 9px;
    border: 0 none;
    border-radius: 0;
    padding: 0;
    line-height: 10px; 
    margin: 0;
    float: left;
    position: relative;
    right: 9px;
}

.widgetauto .hover-autocomplete {
    border: 1px solid #996633;
    cursor: pointer;
}

#form-ok-reg-gorg.alert-success,
#form-ok-reg-later.alert-success {
    top: 6%;
}

.ui-autocomplete.wr-input-big {
    max-height: 148px;
    width: 310px !important;
    text-align: left;
}

.popupReg {    
  background-color: #fff;
  border: 1px solid #b4b4b4;
  margin: 40px auto;
  width: 650px;
  padding: 5px;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
}

.popupReg .wrap-popup {
  background-color: #faf5eb;
  border: 1px solid #b4b4b4;
  padding: 15px 0 20px;
  text-align: center;
}

.popupReg .inf-ok-reg h2 {
    color: #83192c;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
    line-height: 22px;
    margin: 10px 0;
}

.popupReg .inf-ok-reg h1 {
    color: #83192c;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 26px;
    line-height: 26px;
    margin: 0 0 20px;
}


