﻿.help-block {
    display: inline-block;
    left: 8px;
    margin: 0;
    position: relative;
    top: -8px;
}

.help-block .ready-vopr {
  position: relative;
  display: inline-block;
  float: none;
  font: bold 10px/11px "Arial",Helvetica,sans-serif;
  padding: 1px 2px 0 1px;
  top: -2px;
}

.list-unstyled {
  margin: 0;
}

.blRequired, .noValid {
    display: none;
}

  .list-unstyled li, .has-error .help-block, .has-error .radio, 
  .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline,
  .help-block {
    color: #cc0000;
    font-size: 11px;
    font-style: italic;
  }

.has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, 
.has-error .control-label, .has-error.checkbox-inline label,
.has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, 
.has-success .control-label, .has-success.checkbox-inline label {
  color: #000000;
}

.has-error .form-control:focus,
.has-success .form-control:focus {
  box-shadow: 0 0 0;
}

  .icon-ok:before {
    content: "";
    background: url("../images/ok-galochka.png") no-repeat 0 0;
    width: 16px;
    height: 11px;
    top: -4px;
    right: -22px;
    position: absolute;
  }

.glyphicon-ok:before,
.glyphicon-remove:before {
  content: "";
}

.glyphicon-ok:before {
  background: url("../images/ok-galochka.png") no-repeat 0 0;
  width: 16px;
  height: 11px;
  top: 0;
  left: 0;
  position: absolute;
}

.has-feedback .form-control {
  padding: 0 10px;
}

.form-horizontal .control-label {
  padding-top: 0;
}

.form-control-feedback {
    display: block;
    height:11px;
    line-height: 11px;
    pointer-events: none;
    right: -20px;
    text-align: center;
    top: 0;
    width: 16px;
    z-index: 2;
}

.fg-big .form-control-feedback {
    left: 100%;
}

.has-feedback {
  position: relative;
}

.has-feedback label ~ .form-control-feedback {
  top: 2px;
}

.block-mes {
  float: left;
  position: relative;
}

.fg-big {
  position: relative;
}

  .has-error.fg-big .help-block,
  .fg-big .help-block {
/*    left: 186px;
    top: 22px;
    position: absolute;*/
    left: 493px;
    position: absolute;
    top: -19px;    
  }

  .has-error.fg-big .infmore,
  .fg-big .infmore {
    right: 257px;
    top: 23px;
  }

.has-error .infmore {
  display: block;
}

.has-error.fg-big .help-block {
  left: 186px;
  top: 0;
}

.has-error.fg-big .infmore {
  right: 257px;
  top: 22px;
}

.infmore {
  display: none;
  color: #2160c7;
  font-size: 11px;
  line-height: 12px;
  font-family: "Arial", Helvetica, sans-serif;  
  position: absolute;
  right: -200px;
  top: 8px;
}

.infmore:hover {
  color: #2160c7;
  text-decoration: none;
}

.infmore:focus {
  color: #2160c7;
  text-decoration: underline;
}

.hide-me{
  display: none;    
}

.block-mes ::-webkit-input-placeholder {font-size: 11px; line-height:19px;}
.block-mes ::-moz-placeholder          {font-size: 11px; line-height:19px;}/* Firefox 19+ */
.block-mes :-moz-placeholder           {font-size: 11px; line-height:19px;}/* Firefox 18- */
.block-mes :-ms-input-placeholder      {font-size: 11px; line-height:19px;}


.alert-success {
  display: none;
  position: absolute;
  top: 27%;
  left: 27%;
  background-color: #faf5eb;
  width: 365px;
  padding: 17px 20px;
  border: 1px solid #b2b2b2;
  font: 14px/19px Georgia,"Times New Roman",Times,serif;
  border-radius: 0;
  box-shadow: 1px 1px 9px #b2b2b2;
  z-index: 999999;
}

.hide-me.alert-success {
  display: block;
}

.close {
  background: url("../images/close-form.png") no-repeat center center;
  width: 17px;
  height: 17px;
  display: block;
  opacity: 1;
  text-decoration: none;
  border: 1px solid transperant;
  padding: 3px;
  border-radius: 2px;
  right: -13px;
  top: -11px;
  position: relative;
}

.close:hover {
  border: 1px solid #666666;
}
