﻿/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	/*z-index: 100;*/
    height: 27px;
    width: 180px;
}

.form-small .cs-select {
    width: 60px;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-placeholder {
	position: relative;
}

.cs-select select {
	display: none;
	background-color: #d7b795;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
    border: 1px solid #c3bcb3;
    color: #000;
    padding: 4px 4px 4px 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cs-select .cs-options span {
    border: 0 none;
	border-top: 0 none;
	font: 12px/14px "Arial",Helvetica,sans-serif;
	color: #999999;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 15px;
	position: relative;
}

.cs-select > span::after {
	content: '';
	right: 0;
	top: 0;
	height: 26px;
	background: url('../images/tr-select.png') no-repeat 0 0;
	width: 15px;
	position: absolute;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
	z-index: 2;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
	border: 1px solid #c3bcb3;
	padding: 5px 0;
	background-color: #fff;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 3px 10px;
	color: #56493a;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

.cs-options li {
	margin: 0;
}

.calendar-filter .cs-select > span::after {
	background: none;
}

.calendar-filter .cs-select.cs-active .cs-options {
	left: -102px;
	width: 185px;
	padding-left: 15px;
}


/*  opt - rozn  */

.bl-opt div.cs-select {
	text-align: center;
	background-color: #f8ca91;
    height: 43px;
    width: 130px;
    z-index: 2;
}

.bl-opt .cs-select span {
    border: 1px solid transparent;
    color: #411d00;
    padding: 4px 20px 4px 9px;
    font: 14px/34px "Arial",Helvetica,sans-serif;
    font-style: italic;
}

.bl-opt .cs-select > span:after {
	height: 26px;
	background: url('../images/sprite.png') no-repeat -44px -70px;
	width: 15px;
	top: 19px;
}

.bl-opt .cs-select:hover > span:after {
	top: 20px;
}

.bl-opt .cs-placeholder:hover,
.bl-opt .cs-active .cs-placeholder {
    background: #d29148; 
    background: -webkit-gradient(linear, left top, left bottom, from(#e7d3b0), to(#d29148)); 
    background: -moz-linear-gradient(top, #e7d3b0, #d29148); 
    background: -ms-linear-gradient(top, #e7d3b0, #d29148); 
    background: -o-linear-gradient(top, #e7d3b0, #d29148); 
    border-top: 1px solid #ad7830;
    border-bottom: 1px solid #d29248;
    border-left: 1px solid #b47c30;
    border-right: 1px solid #b47c30;
    padding: 5px 20px 3px 9px;
    top: -1px;
    position: relative;
}

.bl-opt .cs-options {
    margin: -1px 0 0;
    border-radius: 0;
    border: 1px solid #bababa;
    background: url('../images/dropdown-menu.png') repeat left top;
    padding: 7px 0;
    box-shadow: 0 3px 7px #827467;
    min-width: 100px;
    position: absolute;
    z-index: 1000;
    text-align: left;
}


.bl-opt .cs-options li {
	margin: 0;
	padding: 0; 
}

.bl-opt .cs-options li span {
    color: #412303;
    font: normal 14px/15px "Arial", Helvetica,sans-serif;
    text-decoration: none;
    margin: 1px 5px 0;
    padding: 5px 0 4px 6px;
    display: block;	
    border: 0 none;
}

.bl-opt .cs-options li span:hover {
    background: #d4b291; 
    background: -webkit-gradient(linear, left top, left bottom, from(#e0c9a9), to(#d4b291)); 
    background: -moz-linear-gradient(top, #e0c9a9, #d4b291); 
    background: -ms-linear-gradient(top, #e0c9a9, #d4b291); 
    background: -o-linear-gradient(top, #e0c9a9, #d4b291);
    text-decoration: none;
    padding-left: 10px;
    color: #412000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

/*  для фильтра */

.filter-sel {
    float: left;
    width: 100%;
}

.filter-sel #ul_lenght {
    position: relative;
    /*z-index: 0;*/
}

.filter-sel div.cs-select {
	text-align: center;
	background: #fff;
	/*z-index: 100;*/
    height: 22px;
    width: 108px;
    display: block;
}

.fl-bg.filter-sel div.cs-select {
    width: 100%;
}

.fl-bg.filter-sel .cs-select.cs-active .cs-options {
    width: 95%;
}

.fl-bg.filter-sel .select-big .cs-select.cs-active .cs-options {
	width: 201%;
}

.filter-sel .cs-select.cs-active .cs-options {
    border: 0 none;
    padding: 0;
    top: 23px;
    width: 91%;
    box-shadow: 2px 2px 2px #c3bcb3;
}

.filter-sel .cs-select .cs-options ul {
    max-height: 170px;
    overflow-x: hidden;
}

.filter-sel.auto-small .cs-select .cs-options {
    width: 115px;
}

.bl-filter .filter-sel li {
	margin: 0;
    border-bottom: 1px solid #eeeeee;
}

.bl-filter li.active .filter-sel ul {
	padding: 0;
}

.filter-sel .cs-active .cs-placeholder,
#cssmenu .filter-sel .cs-active .cs-placeholder:hover,
#cssmenu .filter-sel .cs-placeholder:hover {
    border: 1px solid #996633;
    height: 23px;
    font: 13px/16px "Arial",Helvetica,sans-serif;
    padding: 2px 21px 3px 10px;    
}

.filter-lenght .form-control:hover {
    border: 1px solid #996633;
}

.ui-autocomplete-input:hover,
.widget-auto .hover-autocomplete {
    border: 1px solid #996633;
    cursor: pointer;
}

.filter-sel .cs-placeholder {
    border: 1px solid #b8b1a9;
    height: 23px;
    font: 13px/17px "Arial",Helvetica,sans-serif;
    padding: 2px 21px 3px 10px;
    z-index: 1;
}

.filter-sel .cs-options span {
    color: #000000;
    padding: 0;
    margin: 0;
    text-align: center;
    font: 13px/23px "Arial",Helvetica,sans-serif;
    display: block;
}

#cssmenu .filter-sel .cs-options span:hover {
    color: #000000;
    padding: 0;
    margin: 0;
    text-align: center;
    font: 13px/23px "Arial",Helvetica,sans-serif;
    background: #f3e8d4; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fdf8e2), to(#f3e8d4)); 
    background: -moz-linear-gradient(top, #fdf8e2, #f3e8d4); 
    background: -ms-linear-gradient(top, #fdf8e2, #f3e8d4); 
    background: -o-linear-gradient(top, #fdf8e2, #f3e8d4);     
}

.bl-filter .dropdown-menu li .cs-options li:hover,
.bl-filter .dropdown-menu li .cs-options li:focus {
    border-bottom: 1px solid #eeeeee;
}

.filter-sel.text-left .cs-options span,
#cssmenu .filter-sel.text-left .cs-options span:hover {
    text-align: left;
    padding-left: 7px;
}

.filter-sel .cs-select > span::after {
    content: '';
    right: 0;
    top: 0;
    height: 21px;
    background: url('../images/select-filter.png') no-repeat 0 0;
    width: 9px;
    position: absolute;
}

.no-edit .filter-sel .cs-select > span:after,
.no-edit .widget-auto .btn-list, .no-edit #cssmenu .widget-auto .btn-list:hover, .no-edit #cssmenu .widget-auto .btn-list:focus,
.no-edit .widget-auto .btn-list-saved, .no-edit #cssmenu .widget-auto .btn-list-saved:hover, .no-edit #cssmenu .widget-auto .btn-list-saved:focus {
	content: '';
	right: 0;
	top: 0;
	height: 21px;
	background: url('../images/select-filter-no.png') no-repeat 0 0;
	width: 9px;
	position: absolute;
}

/*  select autocomplete  */

.ui-autocomplete.wrap-mid-auto {
    max-height: 148px;
    width: 270px !important;
}

.ui-autocomplete.wrap-small-auto {
    max-height: 148px;
    width: 115px !important;
    text-align: center;
}

.ui-autocomplete.wrap-small-auto li {
    width: 100%;
}

.ui-autocomplete {
    padding: 0px;
    border: 1px solid #b8b8b6;
    background-color: #fffffa;
    overflow: hidden;
    z-index: 99999;
    box-shadow: 2px 2px 2px #c3bcb3;
    margin-top: -2px;
    cursor: default;
    left: 0;
    position: absolute;
    top: 0;
    max-height: 190px;
    overflow-y: auto; 
    width: 373px !important;
}

.ui-autocomplete li:first-letter,
.ui-autocomplete li strong:first-letter,
.ui-autocomplete li span:first-letter {
    text-transform: capitalize;
}

.ui-autocomplete li {
    margin: 0px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    height: 21px;
    width: 200%;
    font-family: "Tahoma", Arial,Helvetica,sans-serif;
    font-size: 12px;   
    color: #000000; 
}

.ui-menu-item a,
.ui-menu-item a span {
    /*display: inline-block;*/
    height: 20px;
    font-family: "Tahoma", Arial,Helvetica,sans-serif;
    font-size: 12px;   
    color: #000000; 
}

.ui-menu-item a span i {
    font-family: "Tahoma", Arial,Helvetica,sans-serif;
    font-size: 12px;   
    color: #666666; 
    margin-left: 4px;
    text-transform: initial;
}

.ui-menu-item a span small {
    font-family: "Tahoma", Arial,Helvetica,sans-serif;
    font-size: 11px;   
    color: #666666; 
    margin-left: 6px;
}

.ui-autocomplete li:last-child {
    border-bottom: 0 none;
}

.ui-autocomplete li {
    padding: 2px 4px 2px 7px;
    margin: 0px;
    cursor: pointer;
    font: "Arial",Helvetica,sans-serif;;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}

.ui-autocomplete li a {
    display: block;
    text-decoration: none;
    font: "Arial",Helvetica,sans-serif;;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0;   
}

.widget-auto .ui-button-icon {
    height: 21px;
    background: url('../images/select-filter.png') no-repeat 0 0;
    width: 9px;
    border: 0 none;
    border-radius: 0;
    padding: 0;
    line-height: 10px; 
    margin-left: -2px;
    float: left;
}

.widget-auto .btn-list,
.bl-filter .dropdown-menu .widget-auto .btn-list:hover,
.bl-filter .dropdown-menu .widget-auto .btn-list:focus {
    height: 21px;
    background: url('../images/select-filter.png') no-repeat 0 0;
    width: 9px;
    border: 0 none;
    border-radius: 0;
    padding: 0;
    line-height: 10px; 
    margin: 0;
    float: left;
    position: relative;
    right: 1px;
}

.ui-autocomplete-input:focus {
    border: 1px solid #996633;
}

.ui-autocomplete-input {
    border: 1px solid #b8b1a9;
    height: 21px;
    font: 12px/16px "Arial",Helvetica,sans-serif;
    padding: 4px 2px 3px 5px;
    /*width: 168px;   */
    width: 94%;
    float: left;
    z-index: 1001;
    color: #000000;
    /*text-align: center;*/
}

.widget-center input, .stal1, .stal2, .diam1, .diam2 {
	text-align: center;
}

.auto-small .ui-autocomplete-input,
.input-small .ui-autocomplete-input {
    width: 100px;
}

.ui-autocomplete .ui-menu-item strong {
    color: #c7000b;
}

.ui-state-focus {
    background: #f3e8d4; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fdf8e2), to(#f3e8d4)); 
    background: -moz-linear-gradient(top, #fdf8e2, #f3e8d4); 
    background: -ms-linear-gradient(top, #fdf8e2, #f3e8d4); 
    background: -o-linear-gradient(top, #fdf8e2, #f3e8d4); 
    cursor: pointer;
}

#cssmenu .ui-helper-hidden-accessible {
    height: 1px;
    position: absolute;
    width: 1px;
    display: none;
    opacity: 0;
}

.scrollBorder {
    border-left: 1px solid #b2b2b2 !important;
    width: 5px !important;
}

.widget-center .ui-widget {
    text-align: center;
}

.form-group .no-input {
    margin: 0;
    background-color: #b8b1a9;
    height: 2px;
}

.mw-btn-search.ui-autocomplete {
    min-width: 204px !important;
    width: auto !important;
}
