﻿/************* scrollbar ****************/

.gorizont-list {
	background-color: #f3efe9;
    box-sizing: border-box;
    position: relative;
	margin: 0;
	height: 402px;
	overflow: hidden;
	padding: 0;
	width: 764px;	
}

#scrollbarX { 
    z-index: 11;
}

#scrollbarY { 
    margin-top: 0;
    margin-bottom: 3px;
    background-color: #ffffff;
    z-index: 11;
    /*min-height: 420px;*/
}

.wr-our-collection #scrollbarY {
    background-color: transparent;
    padding-bottom: 10px;
}

.bl-writeoff #scrollbarY,
.bl-new-orders #scrollbarY,
.more-inf-product #scrollbarY { 
    background-color: transparent;
    z-index: 11;
}

.sc-catalog .block-scroll {
	max-height: 945px;
}

.block-inf-products .sc-catalog .block-scroll {
	max-height: 1283px;
}

.block-scroll {
    box-sizing: border-box;
    position: relative;
	margin: 0;
	max-height: 558px;
	overflow: hidden;
	padding: 0 0 0 35px;
}

	.mCustomScrollbar{ -ms-touch-action: none; touch-action: none;}
	.mCustomScrollbar.mCS_no_scrollbar{ -ms-touch-action: auto; touch-action: auto; }
	
	.mCustomScrollBox{ /* contains plugin's markup */
		position: relative;
		overflow: hidden;
		outline: none;
		direction: ltr;
	}	

	.ui-widget-content.mCustomScrollbar {
		max-height: 106px;
	}

	.content-list .mCustomScrollBox { 
		max-height: 558px;
		max-width: 100%;
	}	

	.sc-catalog .mCustomScrollBox {
		max-height: 942px;
	}

	.gorizont-list .mCustomScrollBox{ 
		/*max-height: 340px;*/
		max-height: 900px;
		max-width: 100%;
	}

	.mCSB_container{ /* contains the original content */
		overflow: hidden;
		width: auto;
		height: auto;
	}	

	.bl-new-orders .mCSB_container,
	.wrap-writeoff .mCSB_container{ /* contains the original content */
		width: 859px;
	}

	/*.mCSB_inside > .mCSB_container{ margin-right: 9px; }*/
	.mCSB_inside > .mCSB_container{ margin-right: 0px; }
/*	.block-product-selected .mCSB_inside > .mCSB_container,
	.m-list .mCSB_inside > .mCSB_container{ margin-right: 0px; }*/
	.block-inf-products .mCSB_inside > .mCSB_container{ margin-right: 0.5px; }

	.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } /* non-visible scrollbar */
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container{ /* RTL direction/left-side scrollbar */
		margin-right: 0;
		margin-left: 30px;
	}
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } /* RTL direction/left-side scrollbar */

	.mCSB_scrollTools{ /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
		position: absolute;
		width: 8px;
		height: auto;
		left: auto;
		top: 0;
		right: 0;
		bottom: 0;
	}	

	.sc-catalog .mCSB_scrollTools{ /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
		top: 7px;
	}

	.mCSB_outside + .mCSB_scrollTools{ right: -26px; } /* scrollbar position: outside */
	
	.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, 
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ /* RTL direction/left-side scrollbar */
		right: auto;
		left: 0;
	}
	
	.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; } /* RTL direction/left-side scrollbar (scrollbar position: outside) */

	.block-list-item .mCSB_scrollTools .mCSB_draggerContainer{ /* contains the draggable element and dragger rail markup */
		position: absolute;
		top: 0;
		left: -1px;
		bottom: 0;
		right: 0; 
		height: auto;
	}	

	.mCSB_scrollTools .mCSB_draggerContainer{ /* contains the draggable element and dragger rail markup */
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0; 
		height: auto;
	}

	.mCSB_scrollTools a + .mCSB_draggerContainer{ margin: 0; }

	.mCSB_scrollTools .mCSB_draggerRail{
		width: 9px;
		height: 100%;
		margin: 0 auto;
	}

	.table-inform .mCSB_scrollTools .mCSB_dragger {
		border: 1px solid #848484;
	}

	.mCSB_scrollTools .mCSB_dragger{ /* the draggable element */
		cursor: pointer;
		width: 100%;
		height: 62px; /* minimum dragger height */
		z-index: 1;
		background: #ebe9e9; 
		background: -webkit-gradient(linear, left top, left bottom, from(#fbfcfc), to(#ebe9e9)); 
		background: -moz-linear-gradient(top, #fbfcfc, #ebe9e9); 
		background: -ms-linear-gradient(top, #fbfcfc, #ebe9e9); 
		background: -o-linear-gradient(top, #fbfcfc, #ebe9e9);
		border-radius: 50px;
		border: 1px solid #808080;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ /* the dragger element */
		position: relative;
		height: 8px;
		margin: 0 auto;
		text-align: center;
		background: url("../images/dragger-bar.png") no-repeat center center;
		left: 0;
		top: 46%;
	}	


	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px; /* auto-expanded scrollbar */ }
	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px; /* auto-expanded scrollbar */ }

	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown{
		display: none !important;
		position: absolute;
		height: 20px;
		width: 100%;
		overflow: hidden;
		margin: 0 auto;
		cursor: pointer;
	}

	.mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }
	.mCSB_scrollTools, 
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown,
	.mCSB_scrollTools .mCSB_buttonLeft,
	.mCSB_scrollTools .mCSB_buttonRight{
		-webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		-moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		-o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
		transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	}
	
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, /* auto-expanded scrollbar */
	.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, 
	.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{
		-webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		-moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		-o-transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
		transition: width .2s ease-out .2s, height .2s ease-out .2s, 
					margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, 
					margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
					opacity .2s ease-in-out, background-color .2s ease-in-out; 
	}

	.mCSB_scrollTools .mCSB_draggerRail {
		/*background: #eddecc;*/
		position: relative;
	}

	.table-inform .mCSB_scrollTools .mCSB_draggerRail {
		/*background: url("../images/gray-bg-scroll.png") repeat-y 0 0;*/
		position: relative;
		border-bottom: 0 none;
		background-color: transparent;
	}

	.popupInfpr .table-inform .mCSB_scrollTools .mCSB_draggerRail:before {background: none;}
	.table-inform .mCSB_scrollTools .mCSB_draggerRail:before {
		content: "";
		background: url("../images/gray-scroll.png") no-repeat left top;
		top: 0;
		right: 0;
		width: 10px;
		height: 4px;
		position: absolute;
	}

	.mCSB_scrollTools .mCSB_buttonUp{
		background-position: 0 0;
	}

	.mCSB_scrollTools .mCSB_buttonDown{
		background-position: 0 -20px;
	}

	.mCSB_scrollTools .mCSB_buttonLeft{
		background-position: 0 -40px;
	}

	.mCSB_scrollTools .mCSB_buttonRight{
		background-position: 0 -56px;
	}
	
	.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #ff6600; }

	.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #ff6600; }

	.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #ff6600; }
	
	.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: #ccc; }
	
	.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonUp, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonUp, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonUp{ background-position: -112px -72px; }

	.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonDown, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonDown, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonDown{ background-position: -112px -92px; }

	.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonLeft, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonLeft, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -120px -112px; }

	.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonRight, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonRight, 
	.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonRight{	background-position: -120px -128px; }
	
	
	/* theme "inset-2", "inset-2-dark" */
	
	.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail, 
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail{
		background-color: transparent;
		border-width: 1px;
		border-style: solid;
		border-color: #fff;
		border-color: rgba(255,255,255,0.2);
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	}
	
	.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail{ border-color: #000; border-color: rgba(0,0,0,0.2); }
	
/************* end scrollbar ****************/

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 12px;
    left: 0;
    right: 0;
    top: 48.6%;
    width: auto;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
    height: 100%;
    left: 0;
    width: 157px;
    top: 1px;
    height: 10px;
}

.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, 
.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, 
.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_draggerRail, 
.mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    height: 6px;
    margin: 5px 0;
    width: 100%;
}

	.mCSB_scrollTools_horizontal .mCSB_dragger {
		border: 0 none;
		background: #e7e7e7; 
		background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e7e7e7)); 
		background: -moz-linear-gradient(top, #fcfcfc, #e7e7e7); 
		background: -ms-linear-gradient(top, #fcfcfc, #e7e7e7); 
		background: -o-linear-gradient(top, #fcfcfc, #e7e7e7);		 
	}

	.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.gorizont-line-one .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ /* the dragger element */
		position: relative;
		margin: 0 auto;
		text-align: center;
		left: 1px;
		top: 0;
		border: 0 none;
		background: none;
	}

	.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail,
	.gorizont-line-one .mCSB_scrollTools .mCSB_draggerRail {
		background: url("../images/draggerRailY.png") repeat-x 0 0;
		position: relative;
		width: 100%;
		height: 12px;
		border-radius: 50px;
	}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
		margin: 0 4px;
	}

	.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail:before {background: none;}
	.gorizont-line-one .mCSB_scrollTools .mCSB_draggerRail:before {background: none;}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft, 
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
	    cursor: pointer;
	    display: block;
	    height: 100%;
	    margin: 0 auto;
	    overflow: hidden;
	    position: absolute;
	    top: 0;
	}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
		left: 0;
	}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
		right: 0;
	}

	.mCSB_horizontal .mCSB_buttonLeft,
	.gorizont-line-one .mCSB_buttonLeft {
		background: url("../images/sc-btn-left.png") no-repeat 0 0;
		width: 26px;
		height: 14px;
		position: relative;
		z-index: 5;
	}
	.mCSB_horizontal .mCSB_buttonRight,
	.gorizont-line-one .mCSB_buttonRight {
		background: url("../images/sc-btn-right.png") no-repeat 0 0;
		width: 26px;
		height: 14px;
		position: relative;
		z-index: 5;
	}


.gorizont-line-one {
	background-color: #f3efe9;
    box-sizing: border-box;
    position: relative;
	margin: 0;
	height: 214px;
	overflow: hidden;
	padding: 0;
	width: 766px;	
}

	.gorizont-line-one .mCustomScrollBox{ 
		max-height: 236px;
		max-width: 100%;
	}

	.gorizont-line-one .mCSB_scrollTools.mCSB_scrollTools_horizontal {
		top: 92%;
	}


.sc-list .block-scroll {
	max-height: 908px;
}

	.sc-list .mCustomScrollBox {
		max-height: 908px;
		margin-top: 5px;
	}

.table-inform {
	margin-bottom: 25px;
}

.table-inform .block-scroll {
	max-height: 179px;
	padding: 0;
}

	.table-inform .mCustomScrollBox {
		max-height: 179px;
	}

.table-inform .mCSB_inside > .mCSB_container {
    margin-right: 43px;
}

.center-writeoff .mCSB_inside > .mCSB_container {
    background-color: #fff;
    border: 1px solid #bbbbbb;
    border-left: 0 none;
    border-bottom: 0 none;
    margin-right: 22px;
}

.center-writeoff .block-scroll {
	max-height: 198px;
}

	.center-writeoff .mCustomScrollBox {
		max-height: 198px;
	}

.center-writeoff .mCSB_scrollTools .mCSB_draggerRail:before {
	background: none;
}	

.center-new-orders .block-scroll {
	max-height: 332px;
}

	.center-new-orders .mCustomScrollBox {
		max-height: 332px;
	}

.center-new-orders .mCSB_scrollTools .mCSB_draggerRail {
	border: 0 none;
	border-left: 1px solid #808080;
}

.center-new-orders .mCSB_inside > .mCSB_container {
    background-color: #f5f5ed;
    border: 1px solid #bbbbbb;
    border-left: 0 none;
    border-bottom: 0 none;
    margin-right: 22px;
}

.popupNewOrders .table-inform .mCSB_inside > .mCSB_container {
    margin-right: 24px;
    background-color: #d5d5d6;
}

.popupNewOrders .table-inform .mCustomScrollBox {
    max-height: 95px;
}

.popupNewOrders .table-inform .block-scroll {
    max-height: 96px;
    padding: 0;
}

.popupNewOrders .table-inform .mCSB_scrollTools .mCSB_draggerRail:before {
    background: none;
}


/*  tabs */

.scroll-tabs {
	margin:0;
}

.scroll-tabs .block-scroll {
	height: 436px;
	padding: 0;
}

	.scroll-tabs .mCustomScrollBox {
		max-height: 445px;
	}

.scroll-tabs .mCSB_inside > .mCSB_container {
    margin-right: 0;
}

.left-mes-prof .mCSB_inside > .mCSB_container {
    margin-right: 0;
    margin-top: 0;
}

.scroll-tabs .mCSB_scrollTools {
	width: 9px;
	right: -1px;
}

.scroll-tabs .mCSB_scrollTools .mCSB_draggerRail {
    background: url("../images/tabs-scroll.jpg") repeat-y 0 0;
    border-bottom: 0 none;
    position: relative;
    width: 10px;
}

.scroll-tabs .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 5px;
}

.scroll-tabs .mCSB_scrollTools .mCSB_draggerRail:before {
	background: none;
	border-top: 1px solid #949495;
	width: 9px;
}

.scroll-tabs .mCSB_scrollTools .mCSB_dragger {
	border: 1px solid #b3b3b3;
	border-bottom: 1px solid #909090;
}

.right-mes-prof .scroll-tabs .block-scroll {
    max-height: 341px;
    padding: 0;
}

	.right-mes-prof .scroll-tabs .mCustomScrollBox {
		max-height: 338px;
		padding-bottom: 5px;
	}
/*  end tabs */

.block-scroll table {
	background-color: #e4e2e2;
}

.list-page-menu #scrollbarY {
    background-color: transparent;
}

.scroll-page-list .block-scroll {
    max-height: 219px;
    padding: 0;
}

.scroll-page-list .mCustomScrollBox {
    max-height: 219px;
}

.popupChat .scroll-tabs .block-scroll {
	max-height: 260px;
	padding: 0;
}

	.popupChat .scroll-tabs .mCustomScrollBox {
		max-height: 255px;
	}

.more-statics .table-inform .mCSB_inside > .mCSB_container {
    margin-right: 20px;
}

	.more-statics .table-inform .block-scroll {
	    max-height: 266px;
	}	

	.more-statics .table-inform .mCustomScrollBox {
	    max-height: 263px;
	}

	.more-statics .mCSB_scrollTools .mCSB_draggerRail::before,
	.more-statics .table-inform .mCSB_scrollTools .mCSB_draggerRail::before {
		background-image: none;
	}	

	.more-statics .table-inform .mCSB_scrollTools .mCSB_draggerRail {
		background-color: #dedede;
		background-image: none;
		border: 1px solid #b8b3af;
	}	

	.more-statics .mCSB_scrollTools .mCSB_dragger {
		border: 1px solid #b8b3af;
		border-radius: 0;
	}



/**/

.dp-wr-menu {
    margin: 0;
    border: 0 none;
    z-index: 3;
    position: relative;
}

.dp-dropdown {
	margin: 0;
}

.open .dp-listdown-menu {
	display: block;
}


.dp-listdown-menu {
    display: none;
    margin: -1px 0 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
    background-color: #f7f7f7;
    border: 1px solid #bababa;
    border-radius: 0;
    box-shadow: 0 0 0 transparent;
    min-width: 100px;
    padding: 4px 0;
    left: 13px;
    width: 183px;    
}

.dp-wr-menu .dp-menu {
    width: 183px;
    border-radius: 0;
    border: 1px solid #7f7f7f;
    height: 31px;
    padding: 6px 0 0;
    text-align: center;
    font: 13px/20px "Arial";
    margin: 0 0 0 13px;
    background: #ececec; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#ececec)); 
    background: -moz-linear-gradient(top, #fcfcfc, #ececec); 
    background: -ms-linear-gradient(top, #fcfcfc, #ececec); 
    background: -o-linear-gradient(top, #fcfcfc, #ececec); 
    text-decoration: none;
    box-shadow: -1px 1px 2px #dbdbdb;
    display: block;
    position: relative;
}

.dp-wr-menu .open > a, .dp-wr-menu > li.active > a, .dp-wr-menu > li.active > a:hover, .dp-wr-menu > li.active > a:focus, .dp-wr-menu > li > a:hover { 
    background: #ffd19f; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fefeca), to(#ffd19f)); 
    background: -moz-linear-gradient(top, #fefeca, #ffd19f); 
    background: -ms-linear-gradient(top, #fefeca, #ffd19f); 
    background: -o-linear-gradient(top, #fefeca, #ffd19f); 
    text-decoration: none;   
}

.dp-wr-menu li {
	margin: 0;
	position: relative;
}

.dp-wr-menu li span,
.dp-wr-menu li a {
    color: #000000;
    display: block;
    font: 12px/15px "Arial";
    margin: 0;
    padding: 3px 0 2px 7px;
    text-decoration: none;
    box-shadow: 0 0 0 transparent;
    width: 100%;
    border: 1px solid transparent;
}

.dp-wr-menu .open li > span:hover,
.dp-wr-menu .open > li > a:hover,
.dp-wr-menu .open li > .active-sub,
.dp-wr-menu .dp-listdown-menu > li > a:hover,
.dp-wr-menu li > span:hover { 
    color: #992b0d;
    border: 1px solid #cecccf;
    padding-left: 10px;
    background: #edddc6; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfcfa), to(#edddc6)); 
    background: -moz-linear-gradient(top, #fdfcfa, #edddc6); 
    background: -ms-linear-gradient(top, #fdfcfa, #edddc6); 
    background: -o-linear-gradient(top, #fdfcfa, #edddc6);  
    cursor: pointer;
}

.dp-wr-menu li .dp-hover-menu a {
	text-decoration: underline;
	color: #800000;
}

.dp-wr-menu li .dp-hover-menu a:hover {
	margin-left: 6px;
	text-decoration: none;
}

.dp-right-menu:hover .dp-hover-menu {
    display: block;
    top: 0;
}

.dp-hover-menu {
    position: absolute;
    left: 100%;
    width: 95%;
    display: none;
    margin: 0;
    border-radius: 0;
    border: 1px solid #bababa;
    background-color: #f7f7f7;
    padding: 5px 0;
    box-shadow: 0px 3px 7px #bababa;
    min-width: 100px;
}

.dp-hover-menu:before {
    background: url("../images/tr-menu-chat.png") no-repeat left top;
    content: "";
    height: 21px;
    left: -14px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.block-inf-products .mCSB_scrollTools {
	width: 8px;
}

.block-inf-products .mCSB_scrollTools .mCSB_dragger {
    background: #dbdbdb; 
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#dbdbdb)); 
    background: -moz-linear-gradient(top, #dbdbdb, #dbdbdb); 
    background: -ms-linear-gradient(top, #dbdbdb, #dbdbdb); 
    background: -o-linear-gradient(top, #dbdbdb, #dbdbdb);  
}

.m-list .block-scroll {
	max-height: 1346px;
}