﻿/* Magnific Popup CSS */
.mfp-container {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  /*overflow: hidden;*/
  position: absolute;
}

.mfp-bg {
    background: rgba(0,0,0,0.7);
    height: 100%;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1042;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #cccccc; }
    .mfp-preloader a:hover {
      color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 12px;
  height: 12px;
  line-height: 12px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 0px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #fff;
  display: block;
  float: right;
  z-index: 1000;
  top: 8px;
  right: 8px;
  position: absolute;
  background: url("../images/close.png") no-repeat 1px 1px;
}

.mfp-close-btn-in .mfp-close:hover:before {
  background-position: 0 -40px;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 100px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
}

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 0;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 5px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

.popupDetail {
  background: #fff;
  margin: 40px auto;
  max-width: 1015px;
  width: 90%;
  padding: 20px 35px 20px 20px;
  position: relative;
  text-align: left;
  content: "";
  clear: both;
  /*display: table;*/
  border-radius: 0;
  border: 0 none;
  /*overflow: hidden;*/
  color: #000000;
  z-index: 2147483647;
}

.popupNotice {
  background: #f8e8d1;
  margin: 40px auto;
  width: 495px;
  padding: 25px;
  position: relative;
  text-align: center;
  content: "";
  clear: both;
  /*display: table;*/
  border-radius: 0;
  border: 1px solid #c0b29e;
  overflow: hidden;
  color: #464443;
  z-index: 2147483647;
}

.title-notice {
  margin: 0;
  font: bold 14px/17px "Arial";
  color: #000;
  margin: 0 0 5px;
}

.popupNotice p {
  margin: 0;
  font: normal 14px/20px "Arial";
}

.popupInfpr {
  background: transparent;
  margin: 40px auto;
  width: 798px;
  padding: 0;
  position: relative;
  text-align: center;
  content: "";
  clear: both;
  border-radius: 0;
  border: 0 none;
  overflow: hidden;
  z-index: 2147483647;
  left: -12px;
}

.popupNewOrders {    
  background-color: #e4e2e2;
  border: 1px solid #000;
  margin: 40px auto;
  width: 857px;
  padding: 0;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
}

.popupVideo {    
  background-color: #eeeeee;
  border: 1px solid #000;
  margin: 40px auto;
  width: 600px;
  padding: 0;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
}

.popupOrderAdopted {    
  background-color: #c8d6be;
  border: 1px solid #bcae9b;
  margin: 40px auto;
  width: 385px;
  padding: 20px 25px;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
}

.order-adopted p {
  font: 14px/18px "Arial";
  margin-bottom: 1px;
}

.popupFailure {    
  background-color: #d6d4c5;
  border: 1px solid #5a4736;
  margin: 40px auto;
  width: 375px;
  padding: 20px 25px 17px;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
}

.popupMessages {    
  background-color: #f6dede;
  border: 1px solid #5a4736;
  margin: 40px auto;
  width: 375px;
  padding: 35px 30px;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
  text-align: center;
}

.popupMessages a {
  font-style: italic;
  color: #333333;
}


.popupBuyerNotice {    
  background-color: #f8e8d1;
  border: 2px solid #695747;
  margin: 40px auto;
  width: 375px;
  padding: 35px 30px;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
  text-align: center;
}

.popupBuyerNotice p {
  color: #382d23;
}

.popupChat {    
  background-color: #fffaef;
  border: 2px solid #adaaa5;
  margin: 40px auto;
  width: 660px;
  padding: 20px 10px 10px;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
}

.mfp-close-btn-in .popupChat .mfp-close {
  right: 97%;
  top: 5px;
}

.mfp-close-btn-in .popupChat .mfp-rollup {
  color: #fff;
  display: block;
  float: right;
  z-index: 1000;
  top: 5px;
  right: 6px;
  position: absolute;
  background: url("../images/rollup.png") no-repeat 1px 1px;
  width: 17px;
  height: 16px;
}

.popupRollUp .mfp-rollopen {
  color: #fff;
  display: block;
  float: right;
  z-index: 1000;
  top: 5px;
  right: 6px;
  position: absolute;
  background: url("../images/rollopen.png") no-repeat 0 0;
  width: 15px;
  height: 13px;
}


.moreMet {    
  background-color: #fff;
  border: 1px solid #b4b4b4;
  margin: 40px auto;
  width: 720px;
  padding: 5px;
  position: relative;
  content: "";
  clear: both;
  border-radius: 0;
  overflow: hidden;
  z-index: 2147483647;
}

.moreMet .wrap-popup {
  background-color: #fafafa;
  border: 1px solid #b4b4b4;
  padding: 15px 0 20px;
}

