﻿.listKatalog .menuKatalog {
  display: block !important;
}

.block-scroll.listKatalog {
  padding: 0;
}

.menuKatalog > li > ul {
  display: block !important;
  margin: 0;
}

.menuKatalog {
  width: 98%;
  margin: 0 0 0 7px; 
}
.listKatalog .first-column {
  margin: 5px 0 5px 8px;
  padding: 5px 0;
  float: left;
  width: 48%;
}
.listKatalog .last-column {
  margin: 5px 0 5px 10px;
  padding: 5px 0;
  float: left;
  width: 48%;
}

.menuKatalog ul ul {
  display: none;
}

/**************/

.menuKatalog li ul li {
  margin-bottom: 3px;
  line-height: 16px;
}

.activeUl ul {
  margin: 5px 0 11px 10px;
}

.menuKatalog h2 {
  color: #999999;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  margin: 0 auto 7px;
  padding: 0;
  width: 88%;
  text-align: center;
  text-decoration: none;
}

.menuKatalog > li > a {
  color: #999999;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  margin: 6px auto 5px;
  padding: 0;
  width: 88%;
  text-align: center;
  text-decoration: none;
}

.menuKatalog li span {
  color: #c0bebe;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial",Helvetica,sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 15px;
  position: relative;
  word-wrap: break-word;
  display: inline-block;
}

.menuKatalog li span:before {
  content: "";
  background: url("../images/tr-katalog.png") no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 3px;
  width: 8px;
  height: 9px;
}

.menuKatalog li a {
  text-decoration: none;
  color: #6a3300;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial",Helvetica,sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 15px;
  position: relative;
  word-wrap: break-word;
  display: inline-block;
}

.menuKatalog li a:before {
  content: "";
  background: url("../images/tr-katalog.png") no-repeat 0 -18px;
  position: absolute;
  left: 0;
  top: 3px;
  width: 8px;
  height: 9px;
}

.menuKatalog ul .activeUl > a:before {
  content: "";
  background: url("../images/tr-katalog.png") no-repeat 0 -36px;
  position: absolute;
  left: 0;
  top: 3px;
  width: 9px;
  height: 8px;
}

.menuKatalog .activeUl .lastUl a { 
  color: #0000ff;
  padding-left: 0;
  text-indent: 13px;
}

.menuKatalog .activeUl .lastUl a:hover {
  text-decoration: none;
  color: #49a3c5;
}

.menuKatalog .activeUl .lastUl a:before {
  content: "\2022";
  font-weight: bold;
  font-size: 14px;
  color: #663300;
  background-image: none;
  left: -8px;
  top: 1px;
}

.menuKatalog .activeUl .lastUl .yes-link-g:before,
.menuKatalog .activeUl .lastUl .no-link-g:before,
.menuKatalog li .yes-link-g:before,
.menuKatalog li .no-link-g:before {
  content: "";
  font-weight: bold;
  font-size: 1px;
  background-image: none;
  left: 0;
  top: 0;
}

.menuKatalog .activeUl .lastUl .yes-link-g,
.menuKatalog li .yes-link-g {
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  /*display: block;*/
}

.menuKatalog .activeUl .lastUl .no-link-g,
.menuKatalog li .no-link-g {
  color: #c0bebe;
  text-decoration: none;
  margin: 0;
  padding: 0;
  /*display: block;*/
}

.menuKatalog .activeUl .lastUl span {
  margin: 0;
  padding: 0;
  text-indent: 13px;
  display: inline-block;
}

.menuKatalog .activeUl .lastUl span:before {
  content: "\2022";
  font-weight: bold;
  font-size: 14px;
  color: #9b9999;
  background-image: none;
  top: auto; 
  left: -8px;
}

.menuKatalog .activeUl .lastUl span span:before {
  background-image: none;
  content: "";
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

.menuKatalog li span span,
.menuKatalog .activeUl .lastUl span span {
  margin: 0;
  padding: 0;
  display: block;
  text-indent: 0;
}

.menuKatalog ul li li a:before {
  content: "";
  background: url("../images/tr-katalog.png") no-repeat -15px -12px;
  top: 4px;
  left: 2px;
  width: 8px;
  height: 8px;
}

.menuKatalog ul li li span:before {
  content: "";
  background: url("../images/tr-katalog.png") no-repeat -15px 0;
  top: 4px;
  left: 2px;
  width: 8px;
  height: 8px;
}

.menuKatalog ul li li.activeUl > a:before {
  content: "";
  background: url("../images/tr-katalog.png") no-repeat 0 -36px;
  top: 3px;
  width: 9px;
  height: 9px;
}

.menuKatalog li a span:before,
.menuKatalog li li a span:before,
.menuKatalog li li li a span:before,
.menuKatalog li li li li a span:before,
.menuKatalog li li li li li a span:before,
.menuKatalog li li li li li li a span:before,
.menuKatalog .activeUl .lastUl a span:before {
  background-image: none;
  content: "";
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

.menuKatalog li a span,
.menuKatalog .activeUl .lastUl a span {
  margin: 0;
  padding: 0;
  color: #000000;
  display: block;
  text-indent: 0px;
}

