﻿.tip-yellow {
	z-index: 9999;
	text-align:left;
	border: 1px solid #63523e;
	background-color:#ffeca8;
	padding:5px 10px;
	min-width:50px;
	max-width:260px;
	color:#000;
}

.tip-page {
	position: relative;
}

.listdown-menu .click-page-on:hover .tip-hover {
	display: block;
    background: #ffeca8; 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffeca8), to(#ffeca8)); 
    background: -moz-linear-gradient(top, #ffeca8, #ffeca8); 
    background: -ms-linear-gradient(top, #ffeca8, #ffeca8); 
    background: -o-linear-gradient(top, #ffeca8, #ffeca8);	
    padding: 3px 10px;
    text-align: center;
}

.listdown-menu .open-list .click-page-on .tip-hover {
	display: none;
}

.tip-hover,
.listdown-menu .tip-hover {
	font: normal 13px/14px 'trebuchet ms',arial,helvetica,sans-serif;
    position: absolute;
    right: -115px;
    top: -20px;
    width: 180px;
    z-index: 9999;
    display: none;
	text-align:center;
	border: 1px solid #63523e;
	padding:3px 10px;
	color:#000;
	background-color:#ffeca8;    
}

.tip-yellow .tip-inner {
	font: normal 12px/13px 'trebuchet ms',arial,helvetica,sans-serif;
	margin-top:0;
	padding:0;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellow .tip-arrow-top {
	margin-top:-7px;
	margin-left:15px;
	top:0;
	left:0;
	width:16px;
	height:10px;
	background:url(tip-yellow_arrows.png) no-repeat;
}
.tip-yellow .tip-arrow-right {
	bottom:-10px;
	right:5%;
	width:110px;
	height:10px;
	background: url('../images/tip-right.png') no-repeat 0 -1px;
}
.tip-yellow .tip-arrow-bottom {
	bottom:-7px;
	right:12%;
	width:14px;
	height:7px;
	background: url('../images/tipbottom.png') no-repeat 0 -1px;
}
.tip-yellow .tip-arrow-left {
	bottom:-10px;
	right:50%;
	width:60px;
	height:10px;
	background: url('../images/tip-left.png') no-repeat 0 -1px;
}

.tip-hover:before {
	position: absolute;
	content: "";
	bottom:-10px;
	right:20%;
	width:110px;
	height:10px;
	background: url('../images/tip-left.png') no-repeat 0 -1px;	
}

.tip-yellow.openCapcha .tip-arrow-bottom {
	bottom:-7px;
	right:72%;
	width:14px;
	height:7px;
	background: url('../images/tipbottom.png') no-repeat 0 -1px;
}

/*  при выборе, подсказка  */

.btn-hover,
.bl-opt {
	position: relative;
}

.btn-hover:hover .selectionNalog {
	display: block;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;  	
}

.selectionNalog {
	z-index: 9999;
	text-align: center;
	border: 1px solid #63523e;
	padding: 5px 10px;
	color: #000;
	background-color:#ffeca8;
	font: normal 12px/13px 'trebuchet ms',arial,helvetica,sans-serif;
	position: absolute;
    right: 28px;
    top: -18px;	
    display: none;
    width: 110px;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;      
}

.login-user .bl-select-taxation .selectionNalog {
	right: 45px;
}

.bl-opt .selectionNalog {
    right: -1px;
    top: -18px;	
}

.selectionNalog:before {
	content: "";
	position: absolute;
	bottom:-7px;
	right:6px;
	width:14px;
	height:7px;
	background: url('../images/tipbottom.png') no-repeat 0 -1px;
}


/*    hint obnovlenie   */

.bl-hint-obn {
    float: left;
    left: 7px;
    position: relative;
    top: 28px;
}

.bl-hint-obn:hover .hint-obn {
	display: block;
}

.bl-hint-obn .hint-obn:hover {
	display: none;
}

.hint-obn {
	z-index: 9999;
	text-align: center;
	border: 1px solid #63523e;
	padding: 4px 10px;
	color: #000;
	background-color:#ffeca8;
	font: normal 12px/13px 'trebuchet ms',arial,helvetica,sans-serif;
	position: absolute;
    left: -5px;
    top: -28px;	
    display: none;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;      
}

.hint-obn:before {
	content: "";
	position: absolute;
	bottom:-7px;
	left:6px;
	width:14px;
	height:7px;
	background: url('../images/tipbottom.png') no-repeat 0 -1px;
}
