<div class="block-list-item">
	<div class="bl-documents">
		<div class="menu-documents clearfix">
			<a href="/pages/page-pravila/" class="link-blue">Правила</a>
			<a href="/pages/page-oferta/" class="link-blue pull-right">Договор оферты</a>
		</div>
		<div class="content-document">
			<h1 style="text-align: center;">Договор оферты</h1>
			<h2 style="text-align: center;">по оказанию услуг на Торговой интернет-площадке </br>«baARva».</h2>
		</div>
	</div>
</div>
