﻿.calendar-container {
    height: 237px;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    width: 283px;
}

.calendar header {
    position: relative;
}

.calendar tbody {
    color: #7c8a95;
}

.calendar tbody td:hover {
    background: #c1965c; 
    background: -webkit-gradient(linear, left top, left bottom, from(#c1965c), to(#c1965c)); 
    background: -moz-linear-gradient(top, #c1965c, #c1965c); 
    background: -ms-linear-gradient(top, #c1965c, #c1965c); 
    background: -o-linear-gradient(top, #c1965c, #c1965c);  
}

.calendar tbody td.active {
    background: #c1965c; 
    background: -webkit-gradient(linear, left top, left bottom, from(#c1965c), to(#c1965c)); 
    background: -moz-linear-gradient(top, #c1965c, #c1965c); 
    background: -ms-linear-gradient(top, #c1965c, #c1965c); 
    background: -o-linear-gradient(top, #c1965c, #c1965c);  
    font: bold 13px/14px "Arial";
}

.calendar thead td {
    display: inline-block;
    text-align: center;
    width: 40px;
    font: 11px/12px "Arial";
    color: #3d3d3d;   
    padding: 7px 0; 
    border: 0 none;
}

.calendar td {
    display: inline-block;
    text-align: center;
    width: 37px;
    border: 0 none;
    padding: 8px 0;
}

.calendar tbody td.current-day:hover,
.calendar tbody td.current-day {
    background: #c1965c; 
    background: -webkit-gradient(linear, left top, left bottom, from(#c1965c), to(#c1965c)); 
    background: -moz-linear-gradient(top, #c1965c, #c1965c); 
    background: -ms-linear-gradient(top, #c1965c, #c1965c); 
    background: -o-linear-gradient(top, #c1965c, #c1965c);  
    font: bold 13px/14px "Arial";
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #c0392b;
}

.event.current-day:after {
    background: #f9f9f9;
}

.calendars-month-year {
    float: right;
    width: 82px;
    margin: 11px 20px 0 0;
}

.calendars-month-year .calendars-cmd-now {
    font: italic 16px/18px "Arial", Helvetica,sans-serif;
    text-decoration: none;
    width: 63px;
    text-align: center;
}

.calendars-month-year a,
.calendars-month-year a:hover {
    background-color: transparent;
    float: left;
    display: block;
}

.calendars-month-year .disabled {
    color: #a7a2a1;
}

.btn-prev,
.btn-next {
    text-decoration: none;
    width: 9px;
    padding: 0;
    font-weight: bold;
}

.btn-prev {
    left: 30px;
}

.btn-next {
    right: 35px;
}

.list {
    margin-top: 20px;
}

.close {
    color: #A4AAAB;
    margin-top: -15px;
    margin-right: 10px;
    float: right;
}

.day-event {
    background-color: #F2F2F2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    display:none;
    position: absolute;
    top: 0;
    left: -70%;

}

.day-event p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.day-event span {
    font-size: 12px;
}

.day-event button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #c0392b;
    border: 0;
    border-bottom: 2px solid #b53224;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b53224;
    box-shadow: inset 0 -2px #b53224;
}

.check-btn {
    width: 100%;
}

.print-btn {
    padding: 1px 14px 5px 14px;
}

/*************************/

.month {
    font: italic 16px/18px "Arial", Helvetica,sans-serif;
    display: inline-block;
    margin: 11px 0 0 16px;
    text-transform: lowercase;
    padding: 0;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}